*{margin:0;padding:0;border:0;outline:0;font-family:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;}
body{line-height:1;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-style:normal;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
abbr,acronym{font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
:focus{outline:0;}
table{border-collapse:collapse;border-spacing:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
strong{font-style: inherit;}
em{font-weight: inherit;}