
#container {
    position: relative;
    margin: 30px auto 0 auto;
    width: 600px;
}

#preview {
    position: absolute;
    left: 190px;
    top: 20px;
}

#background {
    position: absolute;
    width: 600px;
    height: 300px;
}

#mask {
    position: absolute;
    width: 600px;
    height: 300px;
}
