!!!5
head
  meta(charset='utf-8')

  block title
    title

  meta(name='description', content='')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  block css
    <link rel="stylesheet" href="css/vendor/normalize.css" />
    <link rel="stylesheet" href="css/vendor/foundation.css" />
    <link rel="stylesheet" href="css/vendor/socialicious.css" />
    <link rel="stylesheet" href="css/main.css" />

  block top-script
    <script src="js/bower_components/modernizr/modernizr.js"></script>

body
  block main

  block bottom-script
    <script src="js/bower_components/jquery/jquery.min.js"></script>
    <script src="js/vendor/foundation/foundation.min.js"></script>
    <script src="js/main.js"></script>
